* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;

}

.fondo {
    background-color: #000000;
}

navbar {
    z-index: 2;
}

section {
    background-color: #000000;
}


/* nombre de cada seccion */
.n-seccion {
    padding-top: 40px;
    margin-bottom: 30px;
}

.parrafos {
    color:aliceblue;
    text-align: justify;
}

.card-img-top {
    height: 173px;
}
.m-barra {
    background-color:#17A2B8
}

.iconos {
    color: #feffff;
    
}