html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;

}

.fondo {
    background-color: #000000;
}

/* para poder poner la barra sobre el carrusel */
navbar {
    z-index: 2;
}

section {
    background-color: #000000;
}


/* por titulo de  cada seccion */
.n-seccion {
    padding-top: 40px;
    margin-bottom: 30px;
}

.parrafos {
    color:aliceblue;
    text-align: justify;
}

/* dejar todas las imagenes de cada tarjeta del mismo alto */
.card-img-top {
    height: 173px; 
}

/* EL color en la barra de quienes somos */
.m-barra {
    background-color:#17A2B8
}

/* cambia el color de los iconos */
.iconos {
    color: #feffff;
    
}


/* botones ocultos que activan modales */
#oculto {
    display: none;
}


#vimagen {
    display: none;
} 